
 
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@300&display=swap');
 #snapAlgoWalletContainer{
    /*
    Todo: edit wallet to work with this property
    all: initial;*/
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    height: 0px;
    background-color: white;
    border-radius: 10%;
    border: 0.5px solid black;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  
  .mainFont{
    font-family: 'Kantumruy Pro', sans-serif;
  }
  .secoundaryFont{
    font-family: 'Open Sans', sans-serif;
  }

  .wallet-html-box{
    height: 100%;
    width: 100%;
    color:white;
    flex-grow: 1;
    background-color: #222;
  }

  
  .bubble{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: fixed;
    z-index: 1000000;
    top: 50%;
    left: -25px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.19), 0 0px 6px rgba(0,0,0,0.23);
    /*background: url("https://s2.coinmarketcap.com/static/img/coins/200x200/4030.png") white;*/
    
    padding:0px;
    margin: 0px;
    
    cursor: pointer;
    
    
  }
  .bubble:hover{
    transition: transform 0.3s;
    transform: scale(1.1);
  }

  .wallet-body {
    background-color: #222;
    margin: auto;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
    
  }

  
  .SnapAlgoLedgerContainer::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .SnapAlgoLedgerContainer::-webkit-scrollbar-track {
    background: #0000;
    border-radius: 10px; 
  }
   
  /* Handle */
  .SnapAlgoLedgerContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .SnapAlgoLedgerContainer::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 10px;
  }

  .wallet-icon {
    width: 20px;
    height: 20px;
    margin-top:auto;
    margin-bottom: auto;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
  }
  .wallet-footer {
    background-color: #333;
    /*border-top: 1px solid white;*/
    width: 100%;
    min-height: 30px;
    display: flex;
    justify-content: center;
  }

  .gradient-button {
    --border-width: 1px;
  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    opacity: 0;
    font-family: Lato, sans-serif;

    color: white;
    background: #222;
    border-radius: 5px;

    
  
    &::after {
      position: absolute;
      content: "";
      top: calc(-1 * var(--border-width));
      left: calc(-1 * var(--border-width));
      z-index: -1;
      width: calc(100% + var(--border-width) * 2);
      height: calc(100% + var(--border-width) * 2);
      /*background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
      */
      background: linear-gradient(90deg,#963beb,#830bba,#c00fb4,#e9d596);
      background-size: 300% 300%;
      background-position: 0 50%;
      border-radius: 10px;
      animation: moveGradient 4s alternate infinite;
    }
  }
  
  .gradient-border {
    --border-width: 3px;
  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    visibility: hidden;
    font-family: Lato, sans-serif;

    color: white;
    background: #222;
    border-radius: 5px;
  
    &::after {
      position: absolute;
      content: "";
      top: calc(-1 * 3px);
      left: calc(-1 * 3px);
      z-index: -1;
      width: calc(100% + 3px * 2);
      height: calc(100% + 3px * 2);
      /*
      background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
      */
      background: linear-gradient(30deg,
      #963beb,
      #830bba,
      #c00fb4,
      #0ba0e5,
      #e5c274,
      #0ba0e5,
      #c00fb4,
      #830bba,
      #963beb,
      );
      background-size: 400% 400%;
      background-position: 0 50%;
      border-radius: calc(2 * 3px);
      animation: moveGradient 6s alternate infinite;
    }
  }

  .snapAlgoWalletButton{
    background: linear-gradient(120deg, #ffffff, #ffffff, #f37915, #ffee00);
    background-size: 800% 800%;
  }
  .snapAlgoWalletButton:hover{
    animation: buttonHover 0.4s;
    animation-direction: both;
    animation-fill-mode: both;
  }

  .snapAlgoHoverEffect{
    cursor: pointer;
  }

  .snapAlgoHoverEffect:hover{
    animation: buttonHover 0.3s;
    animation-direction: both;
    animation-fill-mode: both;
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }
  
  @keyframes buttonHover{
    0%{background-position:1% 0%; transform:scale(1)}
    100%{background-position:99% 100% ;transform: scale(1.15)}
    
  }
  .snapAlgoHoverEffect2:hover{
    animation: buttonHover2 0.2s;
    animation-direction: both;
    animation-fill-mode: both;
  }
  .snapAlgoDefaultButton {
    
    text-align: center;
    width: 100px;
    font-size: 12px;
    font-family: 'Kantumruy Pro', sans-serif;
    color: white;
    cursor: pointer;
    margin: 2px;
    height: 45px;
    text-align:center;
    border: none;
    background-position: 0% 0%;
    background-size: 300% 300%;
    
    background-image: radial-gradient(circle at 110%,  #F00699 60%,  #963beb 20% );
    

    border-radius: 10px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  .snapAlgoDefaultButton:hover {
    background-position: 70% -0%;
    background-size: 500% 500%;
    color: white;
    transform: scale(1.05);
    moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  

  .snapAlgoDefaultButton.alt{
    background-image: radial-gradient(circle at 110%,  #F00699 60%,  #0ba0e5 20% );
  }


  @keyframes fadeIn{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 100%;
    }
  }

 
  @keyframes buttonHover2{
    0%{
      
      transform:scale(1)
    }
    100%{
      
      transform: scale(1.08)
    }
  }
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes close-SNAPALGO-animation{
    0%{
      
    }
    100%{

    }
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  